<html>
  <head>
    <title>Game R3M4K3R</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
<link href="https://modesta.alexflipnote.dev/css/modesta.min.css" type="text/css" rel="stylesheet">
  </head>
  <body>
<div class="nav-container">
  <span id="menu-icon"></span>

  <h1 class="nav-title">HackWeekBOT</h1>
  <div id="navside" class="sidenav">
    <a href="/">Menu</a>
    <a href="https://discord.gg/PpvyCYX">Support Server</a>
    <a href="/developers" class="current">Developers</a>
    <a href="/login">Log in</a>
  </div>
  <script>
    var navside = document.getElementById('navside');
    document.getElementById("menu-icon").onclick = function() { navside.style.transform = "translateX(0)"; }
    document.addEventListener("click", function(event) {
      if (event.target.closest(".nav-container")) return;
      navside.style.transform = "translateX(-250px)";
    });
  </script>
</div>
  <section class="fullscreen" style="background-color: transparent;">  
    <section class="card-container">
      <div class="card">
        <div class="avatar">
          <img src="https://i.imgur.com/r4zJPkl.png">
          </div>
        <h1 class="title">Agate</h1>
<p class="description">Hi, i'm a back-end developer, i'm used to code using the following programming languages: C, C#, C++, JS, Py, Java.</p>
        <p class="description"><a target="_blank" href="https://discord.gg/Rdt3Vag">Agate's Guild</a></p>
        </div>
        <div class="card">
        <div class="avatar">
          <img src="https://i.imgur.com/G8k4iGq.gif">
          </div>
        <h1 class="title">Jenny</h1>
        <p class="description">Hi, I'm a bot developer and owner of the Spanish-speaking community "Strangers"</p>
        <p class="description"><a target="_blank" href="https://discord.gg/gnRxPPW">Jenny's Guild</a></p>
        </div>
    <div class="card">
        <div class="avatar">
          <img src="https://i.imgur.com/7haR8vZ.gif">
          </div>
             <h1 class="title">BulzyKrown</h1>
        <p class="description">Hi, my name is BulzyKrown. I am the creator of karu and founder of Crown Squad, a Spanish speaking community.</p>
        <p class="description"><a target="_blank" href="https://www.karu.ga">BulzyKrown's Website</a></p>
        </div>
    <div class="card">
        <div class="avatar">
             <img src="https://i.imgur.com/ZVQXHI8.png">
          </div>
 <h1 class="title">Asagi</h1>
        <p class="description">Anti-delinquent system</p>
        <p class="description"><a target="_blank" href="https://discordbots.org/bot/568094589173628942">Asagi's Fragrant BOT</a></p>
        </div>
    <div class="card">
        <div class="avatar">
           <img src="https://i.imgur.com/QqXjKtU.png">
          </div>
<h1 class="title">Terminator7805</h1>
        <p class="description">I'm a Developer. I love Discord Bots and JavaScript.</p>
        <p class="description"><a target="_blank" href="https://discord.gg/m3DhXfS">Terminator7805's Guild</a></p>     
        </div>
      </section>
    </section>
  </body>
</html>
