<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HackWeekBOT</title>
<link rel="icon" href="https://i.imgur.com/vuvuLxk.png" type="image/x-icon">
    <meta name="description" content="Saeko Web Dashboard"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://modesta.alexflipnote.dev/css/modesta.min.css" type="text/css" rel="stylesheet">
  </head>
  <body>
<div class="nav-container">
  <span id="menu-icon"></span>
  <h1 class="nav-title">HackWeekBOT</h1>
  <div id="navside" class="sidenav">
    <a href="/" class="current">Menu</a>
    <a href="https://discord.gg/PpvyCYX">Support Server</a>
    <a href="/developers">Developers</a>
    <a href="/login">Log in</a>
  </div>
  <script>
    var navside = document.getElementById('navside');
    document.getElementById("menu-icon").onclick = function() { navside.style.transform = "translateX(0)"; }
    document.addEventListener("click", function(event) {
      if (event.target.closest(".nav-container")) return;
      navside.style.transform = "translateX(-250px)";
    });
  </script>
</div>
    
  </body>
</html>